.react-bs-table-container {
  margin: 5px 10px;
}

.tr-string-example,
.th-string-example {
  font-style: oblique;
  color: red;
  background-color: aquamarine;
}

.tr-function-example {
  font-weight: bold;
  background-color: aquamarine;
}

.td-header-string-example {
  font-style: oblique;
  color: red;
  background-color: aquamarine;
}

.td-column-string-example {
  color: blue;
  background-color: antiquewhite;
}

.td-column-function-odd-example {
  color: blue;
  background-color: antiquewhite;
}

.td-column-function-even-example {
  color: red;
  background-color: yellowgreen;
}

.my-header-class {
  background-color: #0066ff;
}

.my-body-class {
  background-color: #cc00ff;
}

.my-container-class {
  border: #0000ff 2.5px solid;
}

.my-table-container-class {
  border: #ffbb73 5px solid;
}

.class-for-editing-cell {
  background-color: #ffbb73;
}

/* Custom  */
.table-header-wrapper table > thead > tr > th {
  font-size: 23px;
  border-bottom: 0;
}

.react-bs-container-body {
  font-size: 19px;
}

.id-cell{
  width: 110px;
  text-align: center !important;
}